<!--To use gojs-diagram, the GojsAngularModule must be imported and used on app.module.ts-->

<h1>GoJS / Angular</h1>

<div class="left">PALETTE
  <gojs-palette [divClassName]='paletteDivClassName' [initPalette]='initPalette'
    [nodeDataArray]='state.paletteNodeData'></gojs-palette>
</div>

<div class="left">DIAGRAM
  <gojs-diagram #myDiagram [divClassName]='diagramDivClassName' [initDiagram]='initDiagram'
    [nodeDataArray]='state.diagramNodeData' [linkDataArray]='state.diagramLinkData' [modelData]='state.diagramModelData'
    [skipsDiagramUpdate]='state.skipsDiagramUpdate' (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
  <button (click)='reinitModel()'>Reset Diagram</button>
</div>

<div class="left">OVERVIEW
  <gojs-overview [divClassName]='overviewDivClassName' [initOverview]='initOverview'
    [observedDiagram]='observedDiagram'>
  </gojs-overview>
</div>

<div class="left">INSPECTOR
  <app-inspector [nodeData]='state.selectedNodeData' (onInspectorChange)='handleInspectorChange($event)'></app-inspector>
</div>

<div class="clear left box">
  <h3>Nodes in app data</h3>
  <ul>
    <li *ngFor="let node of state.diagramNodeData">
      Node ID: {{node['key']}}, Text: {{node['text']}}, Color: {{node['color']}}, Loc: {{node['loc']}}
    </li>
  </ul>
</div>

<div class="left box">
  <h3>Links in app data</h3>
  <ul>
    <li *ngFor="let link of state.diagramLinkData">
      Link ID: {{link['key']}}, To: {{link['to']}}, From: {{link['from']}}
    </li> 
  </ul>
</div>